body { background: #ad27bb; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 28px; display: flex; }
.block-validator-0 { color: #3c23d; font-size: 18px; margin-bottom: 5px; }
.block-product-1 { color: #d11ff1; font-size: 13px; margin-bottom: 5px; }
.block-metrics-2 { color: #46e5c9; font-size: 15px; margin-bottom: 5px; }
.block-router-3 { color: #585bd6; font-size: 19px; margin-bottom: 5px; }
.block-metrics-4 { color: #887ca2; font-size: 12px; margin-bottom: 5px; }